@import url("./header.css");
@import url("./footer.css");

:root {
  --fonte-principal: "Montserrat", sans-serif;
  --fonte-logo: "Inter", sans-serif;
  --vermelho: red;
  --preto: #000000;
  --branco: #ffffff;
}

body {
  background: white;
  font-family: var(--fonte-principal);
  color: var(--preto);
  font-size: 16px;
}

.cabecalho__logo-link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .cabecalho__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
}
